.header{
    padding: 34px 0 36px;
    background-color: #FFFFFF;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button{
        &--first{
            @include font($black, $font-fam, bold, 19px, 14px);
            padding: 12px 29px;
            text-align: center;
            background-color: #FFFFFF;
            margin-right: 24px;
            transition: 0.3s;
            outline: none;
            &:hover{
                transform: scale(1.1);
                background-color: $green;
                color: hsl(0, 0%, 100%);
                transition: 0.2s;
                cursor: pointer;
            }
        }
        &--second{
            @include font(#FFFFFF, $font-fam, bold, 19px, 14px);
            padding: 12px 16px;
            text-align: center;
            background-color: $green;
            &:hover{
                transform: scale(1);
                background-color: #FFFFFF;
                color: $black;
                transition: 0.2s;
                cursor: pointer;
            }
        }
    }
    &__link{
        // margin-right: 43px;
        padding: 30px 26px;
        @include font($black, $font-fam, normal, 14px, 14px);
        &:hover{
            background-color: $green;
            color: #FFFFFF;
            transition: 0.2s;
            cursor: pointer;
        }
        &:first-child{
            padding-left: 0;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
    }
}
